package pages

import (
    "github.com/otto8-ai/otto8/ui/layouts"
    "github.com/otto8-ai/otto8/ui/components"
)

templ LoginComplete() {
    @layouts.MainLayout() {
        @components.NewLoginComplete()
    }
}
