package pages

import (
    "github.com/gptscript-ai/otto/ui/layouts"
    "github.com/gptscript-ai/otto/ui/components"
)

templ LoginComplete() {
    @layouts.MainLayout() {
        @components.NewLoginComplete()
    }
}
