package pages

import (
    "github.com/otto8-ai/otto8/apiclient/types"
    "github.com/otto8-ai/otto8/ui/layouts"
    "github.com/otto8-ai/otto8/ui/components"
)

templ Workflows(wf []types.Workflow) {
    @layouts.MainLayout() {
        @components.Workflows(wf)
    }
}