@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-button-colors {
	@apply text-gray hover:bg-surface3 focus:outline-none dark:text-gray-400;
}

.icon-button {
	@apply icon-button-colors min-h-10 min-w-10 rounded-lg p-2.5 text-sm transition-all duration-200;
}

.icon-default-size {
	@apply h-5 w-5;
}

.icon-button-small {
	@apply icon-button-colors rounded-lg p-1 text-sm transition-all duration-200;
}

.icon-default {
	@apply icon-default-size;
}

body {
	@apply bg-white text-black dark:bg-black dark:text-gray-50;
}

.button-layout {
	@apply rounded-3xl border-2 px-5 py-2;
}

.button-colors {
	@apply border-gray-100 bg-gray-100 hover:border-gray-200 hover:bg-gray-200 dark:border-gray-900 dark:bg-gray-900 dark:hover:border-gray-800 dark:hover:bg-gray-800;
}

.button {
	@apply button-layout button-colors transition-colors duration-200;
}

.button-secondary-colors {
	@apply border-gray-100 hover:border-gray-200 hover:bg-gray-200 dark:border-gray-900 dark:hover:border-gray-800 dark:hover:bg-gray-800;
}

.button-secondary {
	@apply button-layout button-secondary-colors;
}

.button-primary-colors {
	@apply border-blue bg-blue text-white hover:border-blue-400 hover:bg-blue-400 dark:text-gray-50;
}

.button-primary {
	@apply button-layout button-primary-colors;
}

.button-icon-primary {
	@apply flex items-center justify-center rounded-full p-2 text-gray hover:bg-gray-100 hover:text-blue focus:outline-none dark:hover:bg-gray-700/30;
}

.button-destructive {
	@apply flex items-center gap-1 rounded-full bg-red-500/20 px-4 py-2 text-sm text-red-500 transition-all duration-200 hover:bg-red-500 hover:text-white;
}

.list-button-primary {
	@apply button-icon-primary !p-0 hover:bg-transparent;
}

.text-input {
	@apply w-full rounded-lg bg-gray-100 p-2 outline-none focus:ring-2 focus:ring-blue dark:bg-gray-900;
}

.default-scrollbar-thin {
	@apply overflow-auto scrollbar-thin scrollbar-track-surface2 scrollbar-thumb-surface3;
}

.default-scrollbar {
	@apply scrollbar scrollbar-track-surface1 scrollbar-thumb-surface3;
}

.default-dialog,
dialog {
	@apply rounded-xl border-[1px] border-surface3 bg-white text-sm text-black shadow-lg dark:bg-surface2 dark:text-white;
}

dialog::backdrop {
	@apply bg-black bg-opacity-60;
}

:root {
	--black: hsl(0 0 0);
	--white: hsl(0 0 100);
	--gray-50: hsl(0 0 calc(2.5 + 95));
	--gray-60: hsl(0 0 calc(2.5 + 94));
	--gray-70: hsl(0 0 calc(2.5 + 93));
	--gray-80: hsl(0 0 calc(2.5 + 92));
	--gray-90: hsl(0 0 calc(2.5 + 91));
	--gray-100: hsl(0 0 calc(2.5 + 90));
	--gray-200: hsl(0 0 calc(2.5 + 80));
	--gray-300: hsl(0 0 calc(2.5 + 70));
	--gray-400: hsl(0 0 calc(2.5 + 60));
	--gray-500: hsl(0 0 calc(2.5 + 50));
	--gray-600: hsl(0 0 calc(2.5 + 40));
	--gray-700: hsl(0 0 calc(2.5 + 30));
	--gray-800: hsl(0 0 calc(2.5 + 20));
	--gray-900: hsl(0 0 calc(2.5 + 10));
	--gray-910: hsl(0 0 calc(2.5 + 9));
	--gray-920: hsl(0 0 calc(2.5 + 8));
	--gray-930: hsl(0 0 calc(2.5 + 7));
	--gray-940: hsl(0 0 calc(2.5 + 6));
	--gray-950: hsl(0 0 calc(2.5 + 5));
	--gray-960: hsl(0 0 calc(2.5 + 4));
	--gray-970: hsl(0 0 calc(2.5 + 3));
	--gray-980: hsl(0 0 calc(2.5 + 2));
	--gray-990: hsl(0 0 calc(2.5 + 1));
}

.dark {
	--background: var(--black);
	--on-background: var(--gray-50);
	--surface1: var(--gray-950);
	--on-surface1: var(--gray-50);
	--surface2: var(--gray-900);
	--on-surface2: var(--gray-50);
	--surface3: var(--gray-800);
	--on-surface3: var(--gray-50);
}

html {
	--background: var(--white);
	--on-background: var(--black);
	--surface1: var(--gray-70);
	--on-surface1: var(--black);
	--surface2: var(--gray-100);
	--on-surface2: var(--black);
	--surface3: var(--gray-200);
	--on-surface3: var(--black);
}

.colors-background {
	@apply bg-background text-on-background;
}

.colors-surface1 {
	@apply bg-surface1 text-on-surface1;
}

.colors-surface2 {
	@apply bg-surface2 text-on-surface2;
}

.colors-surface3 {
	@apply bg-surface3 text-on-surface3;
}

.card {
	@apply flex min-h-40 w-full gap-2 rounded-xl bg-surface1 transition-all duration-300 hover:-translate-y-2 hover:shadow-md;
}

.card-icon-button-colors {
	@apply bg-gray-100/35 text-on-surface1 transition-all duration-300 hover:bg-gray-100/75 focus:outline-none dark:bg-gray-900/25 dark:hover:bg-gray-900/75;
}

.featured-card-layout {
	@apply mb-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
}

.card-layout {
	@apply mb-8 grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-6;
}

textarea,
input {
	@apply bg-background text-on-background;
}

blockquote {
	@apply border-l-2 border-gray-200 pl-4 italic;
}

.message-content ol,
.message-content ul {
	@apply !px-[18px];
}

li:has(input[type='checkbox'])::marker {
	@apply text-transparent;
}

.tooltip {
	@apply hidden rounded-lg bg-blue p-2 text-sm;
}

.default-dialog,
dialog {
	@apply rounded-xl border-[1px] border-surface3 bg-white text-sm text-black shadow-lg dark:bg-surface2 dark:text-white;
}

.menu-button {
	@apply flex min-h-10 min-w-10 items-center gap-2 rounded-lg p-2 text-sm transition-all duration-200 hover:bg-surface2 dark:hover:bg-surface3;
}
