package layouts

templ HeadOnly() {
    <!doctype html>
    <html lang="en" class="h-full" >
        <head>
            <meta charset="UTF-8">
            <meta charset="utf-8">
            <meta name="viewport" content="width=1050">
            <title>Otto</title>
            <!-- <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script> -->
            <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
            <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
            <script src="https://unpkg.com/dompurify@latest/dist/purify.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script src="/static/js/threads.js"></script>
            <script src="/static/js/threads2.js"></script>
            <script src="https://cdn.tailwindcss.com"></script>
            <script src="/static/js/tailwind.config.js"></script>
            <script src="https://unpkg.com/idiomorph/dist/idiomorph-ext.min.js"></script>
            <script src="https://unpkg.com/lodash@latest/lodash.min.js" ></script>
            <script src="https://unpkg.com/sortablejs/Sortable.min.js"></script>
            <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


            <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
            @darkmodeLoad()
            <script>
                // Make htmx and flowbite play nice together
                htmx.onLoad(function (elt) {
                    initFlowbite();
                });
            </script>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            <script src="https://unpkg.com/mithril/mithril.js"></script>
              <script>
                function autoGrowTextarea(element) {
                  element.style.height = "auto";
                  element.style.height = (element.scrollHeight) + "px";
                }
              </script>
        </head>
        { children... }
    </html>
}

