package layouts

templ MainLayout() {
    @HeadOnly() {
        <body class="min-w-[800px] min-h-full bg-gray-50 dark:bg-gray-900 flex flex-col antialiased" >
            @header()
            <main class="flex flex-grow justify-center p-4 gap-4">
                { children... }
            </main>
            <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
            @darkmodeScript()
            @footer()
        </body>
    }
}

